# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [46]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [3]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv(file_path)

# Display sample data
city_data_df.head(10)

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,Punta Arenas,CL,-53.1500,-70.9167,44.71,76,0,12.66,clear sky
1,Gat,IL,31.6100,34.7642,73.40,100,3,4.18,clear sky
2,Elko,US,41.0002,-115.5012,73.42,22,2,4.00,clear sky
3,Vanavara,RU,60.3400,102.2797,31.68,81,89,2.71,overcast clouds
4,Westport,US,41.1415,-73.3579,61.56,88,100,20.71,overcast clouds
5,Kaeo,NZ,-35.1000,173.7833,56.91,52,55,13.94,broken clouds
6,Alihe,CN,50.5667,123.7167,39.63,29,2,7.83,clear sky
7,Qaanaaq,GL,77.4840,-69.3632,5.00,71,18,7.65,few clouds
8,Talnakh,RU,69.4865,88.3972,31.21,95,100,3.98,overcast clouds
9,Morant Bay,JM,17.8815,-76.4093,83.82,85,36,7.74,scattered clouds

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [16]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input('What is your minimum vacation temperature? '))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input('What is your maximum vacation temperature? '))

What is your minimum vacation temperature? 70
What is your maximum vacation temperature? 90

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [17]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df['Max Temp'] >= min_temp) & (city_data_df['Max Temp'] <= max_temp)]
                                    
# Display sample data
preferred_cities_df.head(10)

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,Gat,IL,31.6100,34.7642,73.40,100,3,4.18,clear sky
2,Elko,US,41.0002,-115.5012,73.42,22,2,4.00,clear sky
9,Morant Bay,JM,17.8815,-76.4093,83.82,85,36,7.74,scattered clouds
10,Hithadhoo,MV,-0.6000,73.0833,82.47,74,39,20.38,scattered clouds
15,Phan Thiet,VN,10.9333,108.1000,82.06,75,100,4.94,overcast clouds
16,Banda Aceh,ID,5.5577,95.3222,79.66,79,100,10.71,light rain
22,Kapaa,US,22.0752,-159.3190,84.18,72,75,11.50,light rain
24,Iquitos,PE,-3.7481,-73.2472,80.64,78,42,2.30,smoke
28,Bambanglipuro,ID,-7.9500,110.2833,78.49,80,100,10.63,overcast clouds
29,Biak,ID,-0.9131,122.8766,84.33,64,99,1.74,light rain

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [18]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()

# Display sample data
clean_travel_cities.head(10)

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,Gat,IL,31.6100,34.7642,73.40,100,3,4.18,clear sky
2,Elko,US,41.0002,-115.5012,73.42,22,2,4.00,clear sky
9,Morant Bay,JM,17.8815,-76.4093,83.82,85,36,7.74,scattered clouds
10,Hithadhoo,MV,-0.6000,73.0833,82.47,74,39,20.38,scattered clouds
15,Phan Thiet,VN,10.9333,108.1000,82.06,75,100,4.94,overcast clouds
16,Banda Aceh,ID,5.5577,95.3222,79.66,79,100,10.71,light rain
22,Kapaa,US,22.0752,-159.3190,84.18,72,75,11.50,light rain
24,Iquitos,PE,-3.7481,-73.2472,80.64,78,42,2.30,smoke
28,Bambanglipuro,ID,-7.9500,110.2833,78.49,80,100,10.63,overcast clouds
29,Biak,ID,-0.9131,122.8766,84.33,64,99,1.74,light rain

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [19]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities[['City', 'Country', 'Max Temp', 'Current Description', 'Lat', 'Lng']].copy()

# Display sample data
hotel_df.head(10)

             City Country  Max Temp Current Description      Lat       Lng
1             Gat      IL     73.40           clear sky  31.6100   34.7642
2            Elko      US     73.42           clear sky  41.0002 -115.5012
9      Morant Bay      JM     83.82    scattered clouds  17.8815  -76.4093
10      Hithadhoo      MV     82.47    scattered clouds  -0.6000   73.0833
15     Phan Thiet      VN     82.06     overcast clouds  10.9333  108.1000
16     Banda Aceh      ID     79.66          light rain   5.5577   95.3222
22          Kapaa      US     84.18          light rain  22.0752 -159.3190
24        Iquitos      PE     80.64               smoke  -3.7481  -73.2472
28  Bambanglipuro      ID     78.49     overcast clouds  -7.9500  110.2833
29           Biak      ID     84.33          light rain  -0.9131  122.8766

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [20]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df['Hotel Name'] = ''

# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Gat,IL,73.40,clear sky,31.6100,34.7642,
2,Elko,US,73.42,clear sky,41.0002,-115.5012,
9,Morant Bay,JM,83.82,scattered clouds,17.8815,-76.4093,
10,Hithadhoo,MV,82.47,scattered clouds,-0.6000,73.0833,
15,Phan Thiet,VN,82.06,overcast clouds,10.9333,108.1000,
16,Banda Aceh,ID,79.66,light rain,5.5577,95.3222,
22,Kapaa,US,84.18,light rain,22.0752,-159.3190,
24,Iquitos,PE,80.64,smoke,-3.7481,-73.2472,
28,Bambanglipuro,ID,78.49,overcast clouds,-7.9500,110.2833,
29,Biak,ID,84.33,light rain,-0.9131,122.8766,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [25]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
print(params)

{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyDmSoe56wniBnyk5VtRRovI5DMLeB9lmBU'}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [30]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row['Lat']
    lng = row['Lng']
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?"
    #for param, val in params.items():
        #base_url += param + '=' + str(val) + '&'

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(url=base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [31]:
# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Gat,IL,73.40,clear sky,31.6100,34.7642,OlusHome
2,Elko,US,73.42,clear sky,41.0002,-115.5012,
9,Morant Bay,JM,83.82,scattered clouds,17.8815,-76.4093,Whispering Bamboo Cove Resort
10,Hithadhoo,MV,82.47,scattered clouds,-0.6000,73.0833,Scoop Guest House
15,Phan Thiet,VN,82.06,overcast clouds,10.9333,108.1000,Hotel Saigon-PT
16,Banda Aceh,ID,79.66,light rain,5.5577,95.3222,OYO 884 Rumoh PMI Hotel
22,Kapaa,US,84.18,light rain,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
24,Iquitos,PE,80.64,smoke,-3.7481,-73.2472,Cortez Malaga Techy Caroly
28,Bambanglipuro,ID,78.49,overcast clouds,-7.9500,110.2833,Puri Brata
29,Biak,ID,84.33,light rain,-0.9131,122.8766,Penginapan Kim

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [35]:
# Drop the rows where there is no Hotel Name.
# First convert empty strings to NaN so we can use dropna()
import numpy as np
hotel_df['Hotel Name'].replace('', np.nan, inplace=True)
clean_hotel_df = hotel_df.dropna()

# Display sample data
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Gat,IL,73.40,clear sky,31.6100,34.7642,OlusHome
9,Morant Bay,JM,83.82,scattered clouds,17.8815,-76.4093,Whispering Bamboo Cove Resort
10,Hithadhoo,MV,82.47,scattered clouds,-0.6000,73.0833,Scoop Guest House
15,Phan Thiet,VN,82.06,overcast clouds,10.9333,108.1000,Hotel Saigon-PT
16,Banda Aceh,ID,79.66,light rain,5.5577,95.3222,OYO 884 Rumoh PMI Hotel
22,Kapaa,US,84.18,light rain,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
24,Iquitos,PE,80.64,smoke,-3.7481,-73.2472,Cortez Malaga Techy Caroly
28,Bambanglipuro,ID,78.49,overcast clouds,-7.9500,110.2833,Puri Brata
29,Biak,ID,84.33,light rain,-0.9131,122.8766,Penginapan Kim
34,Kismayo,SO,76.71,scattered clouds,-0.3582,42.5454,Agan-Hotel

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [ ]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [37]:
# Set the file name.
output_data_file = 'WeatherPy_vacation.csv'

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file)

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [38]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [39]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>OlusHome</dd>\n<dt>City</dt><dd>Gat</dd>\n<dt>Country</dt><dd>IL</dd>\n<dt>Current Weather</dt><dd>clear sky and 73.4 F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Whispering Bamboo Cove Resort</dd>\n<dt>City</dt><dd>Morant Bay</dd>\n<dt>Country</dt><dd>JM</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 83.82 F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Scoop Guest House</dd>\n<dt>City</dt><dd>Hithadhoo</dd>\n<dt>Country</dt><dd>MV</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 82.47 F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Saigon-PT</dd>\n<dt>City</dt><dd>Phan Thiet</dd>\n<dt>Country</dt><dd>VN</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 82.06 F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>OYO 884 Rumoh PMI Hotel</dd>\n<dt>City</dt><dd>Banda Aceh</dd>\n<dt>Country</dt><dd>ID</dd>\n<dt>Current Weather</dt><dd>light rain and 79.66 F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Sheraton Kauai Coconut Beach Resort</dd>\n<dt>City</dt><dd>Kapaa</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>light rain and 84.18 F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Cortez Malaga Techy Caroly</dd>\n<dt>City</dt><dd>Iquitos</dd>\n<dt>Country</dt><dd>PE</dd>\n<dt>Current Weather</dt><dd>smoke and 80.64 F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Puri Brata</dd>\n<dt>City</dt><dd>Bambanglipuro</dd>\n<dt>Country</dt><dd>ID</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 78.49 F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Penginapan Kim</dd>\n<dt>City</dt><dd>Biak</dd>\n<dt>Country</dt><dd>ID</dd>\n<dt>Current Weather</dt><dd>light rain and 84.33 F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Agan-Hotel</dd>\n<dt>City</dt><dd>Kismayo</dd>\n<dt>Country</dt><dd>SO</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 76.71 F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [51]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]

# Display sample data
locations.head(10)

        Lat       Lng
1   31.6100   34.7642
9   17.8815  -76.4093
10  -0.6000   73.0833
15  10.9333  108.1000
16   5.5577   95.3222
22  22.0752 -159.3190
24  -3.7481  -73.2472
28  -7.9500  110.2833
29  -0.9131  122.8766
34  -0.3582   42.5454

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [54]:
# Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations)

# Create a figure to add the Google map as a layer
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)

# Display the figure containing the map
# I cannot get the map to work correctly. I think the nbextension for jupyter gmaps is not functioning properly. see: https://github.com/pbugnion/gmaps/issues/267
# I will submit like this and give it another shot tomorrow after the deadline where the only things I will alter are my gmaps and nbextensions versions and installations.
fig

AttributeError: module 'collections' has no attribute 'Iterable'